langchain==0.3.12
langchain-community==0.3.12
langchain-openai==0.2.14
langchain-groq==0.2.14
langchain-experimental==0.3.5
langgraph==0.2.61
python-dotenv==1.0.1
pydantic==2.10.5
sqlalchemy==2.0.36
requests==2.32.3
pyppeteer==2.0.0
